{:kotoba.app/id "cloud.itonami.isic-8690", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibs4nx6i7tgcep7a4ztn2c5mz5ysjzhchofoz3scsviaymvba5oeq", :kotoba.app/embed-url "ipfs://bafkreibs4nx6i7tgcep7a4ztn2c5mz5ysjzhchofoz3scsviaymvba5oeq", :published {:archive "https://kotobase.net/ipfs/bafkreibs4nx6i7tgcep7a4ztn2c5mz5ysjzhchofoz3scsviaymvba5oeq", :size 74731, :put-status 201, :get-status 200, :at "2026-08-15T13:40:52.735Z"}}
